@use "../../styles/mixins";

.periodSection {
    width: 100%;
    margin: 0.75rem 0;
    background-color: var(--background-tertiary);
    border-radius: 0.75rem;
    box-shadow: 0 2px 0.5rem var(--background-tertiary);

    & .periodHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1.25rem;
        border-bottom: 1px solid #31323d;

        & .periodContainer {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            & h2 {
                color: var(--content-primary);
                font: var(--label-lg);
            }
        }

        & .hourContainer {
            color: var(--content-secondary);
            font: var(--label-lg);
        }
    }

    & ul {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include mixins.mobile-and-tablet {
            margin: 0 auto;
        }

        @include mixins.mobile {
            gap: 3rem;
        }

        @include mixins.tablet {
            width: 100%;
            gap: 2rem;
        }

        @include mixins.mobile-lg {
            width: 50%;
        }

        @include mixins.mobile-sm {
            width: 100%;
        }

        & li {
            display: grid;
            grid-template-columns: auto 1fr 1fr auto;
            align-items: center;
            gap: 2rem;

            @include mixins.tablet {
                gap: 4rem;
            }

            @include mixins.mobile {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            & .hour {
                color: var(--content-primary);
                font: var(--label-md);
                grid-column: 1;

                @include mixins.mobile {
                    font-size: var(--text-xxl);
                }
            }

            & .petInfo {
                grid-column: 2;

                & strong {
                    color: var(--content-primary);
                    font: var(--paragraph-sm);
                    font-weight: var(--weight-md);
                }

                & span {
                    color: var(--content-secondary);
                    font: var(--paragraph-sm);
                }
            }

            & .service {
                grid-column: 3;
                color: var(--content-secondary);
                font: var(--paragraph-sm);
            }

            & button {
                grid-column: 4;
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: var(--content-tertiary);
                transition: 0.5s;
                text-align: right;
                white-space: nowrap;

                &:hover {
                    color: var(--content-primary);
                    text-decoration: underline;
                    transform: scale(1.03);
                }
            }
        }
    }

    & .emptyState {
        color: var(--content-secondary);
        font: var(--paragraph-md);
        text-align: center;
        padding: 1.25rem;
    }
}