@mixin buttonStyle {
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    color: #050505;
    cursor: pointer;
    font: var(--label-lg);
    background-color: var(--content-brand);
    box-shadow: 0 2px 0.5rem var(--content-brand);
    transition: 0.5s;
    margin-bottom: 1rem;

    &:hover {
        background-color: #BDB4FA;
        box-shadow: 0 2px 0.5rem #BDB4FA;
    }
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin mobile-sm {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin mobile-lg {
    @media (min-width: 401px) and (max-width: 650px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 651px) and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-and-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 650px) {
        @content;
    }
}

@mixin inputWrapper {
    position: relative;
    width: 100%;

    & .inputIcon {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 1;
    }
}