* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;

    --text-lg: 16px;
    --text-md: 14px;
    --text-sm: 12px;

    --line-height-md: 24px;
    --line-height-sm: 16px;

    --weight-md: 700;
    --weight-sm: 500;

}