* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;

    --text-xxl: 1.25rem;
    --text-xl: 1.125rem;
    --text-lg: 1rem;
    --text-md: 0.875rem;
    --text-sm: 0.75rem;

    --line-height-lg: 2rem;
    --line-height-md: 1.5rem;
    --line-height-sm: 1rem;

    --weight-md: 700;
    --weight-sm: 500;

    --title: var(--weight-md) 1.5rem/var(--line-height-lg) 'Inter Tight', sans-serif;

    --paragraph-md: var(--weight-sm) var(--text-md)/var(--line-height-md) 'Inter', sans-serif;
    --paragraph-sm: var(--weight-sm) var(--text-sm)/var(--line-height-sm) 'Inter', sans-serif;

    --label-lg: var(--weight-md) var(--text-lg)/var(--line-height-md) 'Inter', sans-serif;
    --label-md: var(--weight-md) var(--text-md)/var(--line-height-md) 'Inter', sans-serif;

}