.body {
    background-color: var(--background-primary);
    min-height: 100vh;

    & header {
        display: inline-flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        gap: 0.25rem;
        background-color: #2E2C30;
        border-radius: 0 0 1.5rem 0;

        @media (max-width: 650px) {
            width: 100%;
            justify-content: center;
            border-radius: 0;
            margin-bottom: 1rem;
        }

        & h2 {
            font: var(--label-lg);
            color: #9282FA;
        }
    }

    & main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min(80%, 800px);
        margin: 0 auto;
        padding: 0 5rem 5rem 5rem;

        @media (max-width: 756px) {
            padding: 0;
        }

        @media (max-width: 650px) {
            width: 90%;
        }

        &>section {
            display: flex;
            justify-content: space-between;

            @media (max-width: 756px) {
                flex-direction: column;
            }

            & .titleContainer {
                @media (max-width: 756px) {
                    text-align: center;
                }

                & h1 {
                    color: var(--content-primary);
                    font: var(--title);

                    @media (max-width: 756px) {
                        margin-bottom: 1rem;
                    }
                }

                & p {
                    max-width: 90%;
                    color: var(--content-secondary);
                    font: var(--paragraph-md);

                    @media (max-width: 756px) {
                        margin: 0 auto;
                        font: var(--label-lg);
                    }
                }
            }

            & .dateContainer {
                margin-top: 0.5rem;

                @media (max-width: 650px) {
                    align-self: center;
                    margin-top: 1rem;
                }
            }
        }

        &>button {
            border: none;
            border-radius: 0.5rem;
            padding: 0.75rem 1.25rem;
            color: #050505;
            cursor: pointer;
            font: var(--label-lg);
            background-color: var(--content-brand);
            box-shadow: 0 2px 0.5rem var(--content-brand);
            transition: 0.5s;
            margin-bottom: 1rem;

            &:hover {
                background-color: #BDB4FA;
                box-shadow: 0 2px 0.5rem #BDB4FA;
            }
        }
    }

    & .modalOverlay {
        position: fixed;
        inset: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        & .modalContainer {
            position: relative;
            z-index: 11;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: min(50%, 500px);
            min-height: 100vh;
            margin: auto;
            padding: 2.5rem;
            background-color: var(--background-tertiary);
            border-radius: 0.75rem;

            @media (max-width: 768px) {
                width: 70%;
            }

            @media (max-width: 600px) {
                width: 90%;
            }

            @media (max-width: 400px) {
                width: 100%;
            }

            & h1 {
                color: var(--content-primary);
                font: var(--title);

                @media (max-width: 768px) {
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }

            &>p {
                color: var(--content-secondary);
                font: var(--paragraph-md);

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            & form {

                &>section,
                & .formRow {
                    margin: 1rem 0;
                }

                & label {
                    color: var(--content-primary);
                    font: var(--label-md);
                }

                & .formRow {
                    display: flex;
                    gap: 2rem;

                    @media (max-width: 768px) {
                        flex-direction: column;
                        gap: 1rem;
                    }

                    & section {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                    }
                }

                & input,
                & textarea,
                & select {
                    width: 100%;
                    padding: 0.75rem;
                    background-color: transparent;
                    border: 1px solid #31323d;
                    border-radius: 0.5rem;
                    color: var(--content-secondary);

                    &::placeholder {
                        color: var(--content-secondary);
                    }
                }

                & textarea {
                    resize: none;
                }

                & .inputWrapper,
                & .selectWrapper {
                    position: relative;
                    width: 100%;

                    & .inputIcon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                        z-index: 1;
                    }
                }

                & .inputWrapper {
                    & .inputIcon {
                        left: 0.75rem;
                    }

                    & input {
                        padding-left: 2.5rem;
                    }
                }

                & .selectWrapper {
                    & .inputIcon:nth-of-type(1) {
                        left: 0.75rem;
                    }

                    & .inputIcon:nth-of-type(2) {
                        right: 0.75rem;
                    }

                    & select {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        cursor: pointer;
                        padding-left: 2.5rem;
                    }
                }

                &>button {
                    border: none;
                    border-radius: 0.5rem;
                    padding: 0.75rem 1.25rem;
                    color: #050505;
                    cursor: pointer;
                    font: var(--label-lg);
                    background-color: var(--content-brand);
                    box-shadow: 0 2px 0.5rem var(--content-brand);
                    transition: 0.5s;
                    width: 100%;
                    display: block;
                    margin: 0 auto;

                    &:hover {
                        background-color: #BDB4FA;
                        box-shadow: 0 2px 0.5rem #BDB4FA;
                    }
                }
            }
        }
    }
}