@use "../styles/mixins";

.body {
    background-color: var(--background-primary);
    min-height: 100vh;
    min-width: 100vh;

    & header {
        display: inline-flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        gap: 0.25rem;
        background-color: #2E2C30;
        border-radius: 0 0 1.5rem 0;

        @include mixins.mobile {
            width: 100%;
            justify-content: center;
            border-radius: 0;
            margin-bottom: 1rem;
        }

        & h2 {
            font: var(--label-lg);
            color: #9282FA;
        }
    }

    & main {
        @include mixins.flexColumn;
        justify-content: center;
        width: min(80%, 800px);
        margin: 0 auto;
        padding: 0 5rem 5rem 5rem;

        @include mixins.mobile-and-tablet {
            padding: 0;
        }

        @include mixins.mobile {
            width: 90%;
        }

        &>section {
            display: flex;
            justify-content: space-between;

            @include mixins.mobile-and-tablet {
                flex-direction: column;
            }

            & .titleContainer {
                @include mixins.mobile-and-tablet {
                    text-align: center;
                }

                & h1 {
                    color: var(--content-primary);
                    font: var(--title);

                    @include mixins.mobile-and-tablet {
                        margin-bottom: 1rem;
                    }
                }

                & p {
                    max-width: 90%;
                    color: var(--content-secondary);
                    font: var(--paragraph-md);

                    @include mixins.mobile-and-tablet {
                        margin: 0 auto;
                        font: var(--label-lg);
                    }
                }
            }

            & .dateContainer {
                margin-top: 0.5rem;

                @include mixins.mobile-and-tablet {
                    align-self: center;
                    margin-top: 1rem;
                }
            }
        }

        &>button {
            @include mixins.buttonStyle
        }
    }

    & .modalOverlay {
        position: fixed;
        inset: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);

        & .modalContainer {
            @include mixins.flexColumn;
            position: relative;
            z-index: 11;
            justify-content: center;
            width: min(50%, 500px);
            margin: auto;
            padding: 2.5rem;
            background-color: var(--background-tertiary);
            border-radius: 0.75rem;

            @include mixins.tablet {
                width: 70%;
            }

            @include mixins.mobile-lg {
                width: 90%;
            }

            @include mixins.mobile-sm {
                width: 100%;
            }

            & h1 {
                color: var(--content-primary);
                font: var(--title);

                @include mixins.mobile-and-tablet {
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }

            &>p {
                color: var(--content-secondary);
                font: var(--paragraph-md);

                @include mixins.mobile-and-tablet {
                    text-align: center;
                }
            }

            & form {

                &>section,
                & .formRow {
                    margin: 1rem 0;
                }

                & label {
                    color: var(--content-primary);
                    font: var(--label-md);
                }

                & .formRow {
                    display: flex;
                    gap: 2rem;

                    @include mixins.mobile-and-tablet {
                        flex-direction: column;
                        gap: 1rem;
                    }

                    & section {
                        @include mixins.flexColumn;
                        flex: 1;
                    }
                }

                & input,
                & textarea,
                & select {
                    width: 100%;
                    padding: 0.75rem;
                    background-color: transparent;
                    border: 1px solid #31323d;
                    border-radius: 0.5rem;
                    color: var(--content-secondary);

                    &::placeholder {
                        color: var(--content-secondary);
                    }
                }

                & select {
                    cursor: pointer;
                    padding-left: 2.5rem;
                }

                & .inputWrapper {
                    @include mixins.inputWrapper;

                    & .inputIcon {
                        left: 0.75rem;
                    }

                    & input {
                        padding-left: 2.5rem;
                    }
                }

                &>button {
                    @include mixins.buttonStyle;
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}